<div class="container-fluid">
  <div class="col-md-12">
      <div class="panel-group" id="accordion">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4>
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Firm Demographics</a>
                  </h4>
              </div>
              {{myForm.valid}}
              <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                      <form [formGroup]="myForm">
                          
                        <table class="table table-inverse table-bordered table-hover table-striped input-sm">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th *ngFor="let title of firmDemographics"> {{title}}</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="regions">
                                
                                <tr *ngFor="let address of myForm.controls.regions.controls; let i=index" [formGroupName]="i">
                                    <th>
                                        <!-- -->
                                        {{sample(i)}}
                                        <!-- {{i}} -->
                                    </th>
                                    <td><input type='text' class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="Equity Partners"></td>
                                    <td><input type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="Non-Equity Partners"></td>
                                    <td><input type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="Associates"></td>
                                    <td><input type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="Counsel"></td>
                                    <td><input type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="Other Lawyers"></td>
                                    <td>{{compute(i)}}</td>
                                </tr>
                            </tbody>
                        </table>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<button (click)="submit()" [disabled]="!myForm.valid">Submit</button>